:css
  #updates{
    height: 242px;
    width: 352px;
    float:right;
    margin-top: 5px;
    border: solid black 1px;
  }
  #page_sub_header{
    text-align: center;
    font-size: 22px;
    margin-top: 0px;
  }
%div#update_message
  %h1#page_sub_header
    Current Updates
  %hr/
  %h3
    Pending.................